<h2>Showing All Articles</h2>
<div class="table-responsive" id="table-container">
    <table class="table table-striped">
        <thead>
            <tr>
                {{!-- <th scope="col">_id</th> --}}
                <th scope="col">Title</th>
                <th scope="col">Summary</th>
                {{!-- <th scope="col">Byline</th> --}}
                <th scope="col">Link</th>
                <th scope="col">Article Notes</th>
                <th scope="col">Favorite the Article</th>
            </tr>
        </thead>
        <tbody>
            {{#each articles}}
            <tr>
                <td class="maxTitle">{{headline}}</td>
                <td class="maxSummary">{{summary}}</td>
                <td class="maxLink"><a href="{{url}}">{{url}}</a></td>
                <td>
                    <button class="article-notes">Article Notes</button>
                </td>
                <td>
                    <button class="article-favorite">Favorite the Article</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<div id="notes"></div>