/*
body {
  background-color: lightgray;
}
*/

@font-face {
	font-family: "engrvrsoldeng_btregular";
	src: url("engraversoldenglish-webfont.woff2") format("woff2"),
		url("engraversoldenglish-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

#table-container {
	width: 70%;
	float: left;
}

#notes {
	width: 28%;
	float: right;
	margin-left: 5px;
}

#HomeTitle {
	font-size: 70px;
	text-align: center;
	margin-top: 100px;
}

#HomeTitleSub {
	font-family: engrvrsoldeng_btregular;
	font-size: 60px;
	text-align: center;
}

#scrapeLink {
	color: red;
}

th {
	text-align: center;
}

.maxTitle {
	max-width: 150px;
}

.maxSummary {
	max-width: 350px;
}

.maxByline {
	max-width: 150px;
}

.maxLink {
	max-width: 225px;
	word-break: break-all;
}
